@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 30px 15px;
  min-width: 350px;
  max-width: 360px;
  background-color: #FEFEFE;
  color: #171717;
}

html.dark body{
  background-color: #171717;
  color: #cfcfcf;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
